<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kuda Travel App</title>
</head>
<body>
    <div class="grid-container">
    <header class="grid-header">
        <h2>((header))</h2>
    </header>
    <main class="grid-main">
    
            <div class="form-container">
                <h1>Discover The World.</h1>
                <form id="userInputForm" class="flex-form" onsubmit="return Client.formPreventDefault(event)">

                    <!-- <label for="from">
                        <i class="icon-location"></i>
                    </label> -->

                    <input
                        class="form-element"
                        id="form-date"
                        type="date"
                        placeholder="YYYY.MM.DD">

                    <input
                        class="form-element"
                        id="form-destination"
                        type="text"
                        placeholder="Destination"
                    >

                    <input
                        class="form-element"
                        id="form-submit"
                        type="submit"
                        value="Plan!"
                    >
                </form>
            </div>

    </main>
    <footer class="grid-footer">
        <h2>((footer))</h2>
    </footer>
    </div>
</body>
</html>