<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kuda Travel App</title>
</head>

<body>
    <div class="grid-container">
        <header class="grid-header">
            <!-- <h2>((header))</h2> -->
        </header>
        <main class="grid-main">

            <div id="main-container">

                <div id="form-container">
                    <h1>Discover The World.</h1>
                    <form id="userInputForm" class="flex-form" onsubmit="return Client.formPreventDefault(event)">

                        <div class="form-division__row">
                            <label class="form-division__label-element" for="form-start-date">start date
                                (dd.mm.yyyy)</label>
                            <label class="form-division__label-element" for="form-end-date">end date
                                (dd.mm.yyyy)</label>
                        </div>
                        <div class="form-division__row">
                            <input class="form-division__input-element" id="form-start-date" type="date"
                                placeholder="DD.MM.YYYY" >
                            <input class="form-division__input-element" id="form-end-date" type="date"
                                placeholder="DD.MM.YYYY" >
                        </div>
                        <div class="form-division__row">
                            <input class="form-division__input-element" id="form-destination" type="text"
                                placeholder="Destination" >
                            <input class="form-division__input-element" id="form-submit" type="submit" value="Plan!">
                        </div>
                    </form>
                </div>
            </div>

        </main>
        <footer class="grid-footer">
            
            <p>made with ❤️ by David Kuda in Berlin</p>
            <div class="links">
                <a href="https://www.linkedin.com/in/david-kuda/" target="_blank">
                    <span>LinkedIn</span>
                </a>
                <a href="https://github.com/OzzieKuda" target="_blank">
                    <span>GitHub</span>
                </a>
            </div>
        </footer>
    </div>
</body>

</html>