* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    height: 100vh;
    // background: url('../images/travel-alps.jpg');
    background-image: linear-gradient(to right bottom,
        #455a64ee,
        #b0bec5aa),
        url('../images/travel-alps.jpg');
    background-size: cover;
    background-position: bottom;
}
