.grid-footer {
    grid-area: footer;
}

footer {
    
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-content: center;
    color: #fff;
    text-align: center;
    font-size: small;
     padding: 1em;
     background-color: #00000033;
     border-radius: 10px;
     -webkit-backdrop-filter: blur(10px);
     backdrop-filter: blur(10px);

    a {
        text-decoration: underline;
        color: #fff;
        margin: 0 1em;
    }

}