h3 {
    font-size: 2em;
    font-weight: 300;
    margin-top: 0.4em;
}

.weather-box {
    display: flex;
    flex-flow: row wrap;
}

.day {
    display: flex;
    flex-flow: column nowrap;
    margin: 1em;
    // border: #fff solid thin;
    border-radius: 10px;
    width: 10em;
    align-items: center;
    padding: 0.5em;
}

.date {
    font-weight: 600;
}

.description {
    font-weight: 300;
}

.icon {
    width: 5em;
    height: auto;
}

@media(max-width:400px) {
    h3 {font-size: 1em;}
    .day {
        margin: 0.2em;
        width: 4em;
        padding: 0.2em;
        font-size: small;
    }
}